/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: rgb(var(--bs-tertiary-color-rgb));
  }
  
  

  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  

  }
  
  /* Thin out the marketing headings */
  /* rtl:begin:remove */
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  
  /* rtl:end:remove */
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */

  
  
  
  
  
  
  
     
  
    
  
  
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    
    }
  
  
    .FLEX{
  
      width: 50%;
      height: 350px;
      border: none;
      padding: 2%;
      text-align: left;
      vertical-align: middle;
     
      
  
    
    }
  
  
  
  .BOX-FLEXMODEL{
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    vertical-align: middle;
   
    
  
  }
  
  .round-circle {
    border-radius: 50%;
  }